body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1d1d1d;
    overscroll-behavior: none;
    font-family: 'Caprasimo', cursive;
    margin-left: 170px;
    margin-right: 170px;
    color: #cae9ea;
    filter: blur(30%);
    
}
a{
    text-decoration: none;
    color: inherit;
}
.mainBody{
    display: block;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linksDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 50px;
    
}
.name{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin:10px;
}
.profilePic{
    border-radius: 50%;
    width: 40%;
}
.profilePicDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;
}
.punchOut{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px;   
    transition: 0.2s;
 
    
}
.punchOut:hover{
    cursor: pointer;
    background-color: #273b40;
    transition: 0.2s;
}
.linkImg{
    height: 75px;
    width: 75px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkName{
    font-size: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.social-image {
    display: inline-block;
    object-fit:cover;
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    filter: grayscale(100%);
    transition: 0.2s;

}

.social-image:hover {
    background-color: #666;
    filter: grayscale(60%);
    transition: 0.2s;

}

